/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fillall {
  width: 100%;
  height: 100%;
}

.containerv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerh {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.title {
  padding: 5px;
  background: lightblue;
}

.subtitle {
  padding: 5px;
  background: lightyellow;
}

.separatorh {
  width: 20px;
}

.separatorv {
  height: 20px;
}

textarea, pre {
  font-family:Cascadia Code,Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filler {
  flex-grow: 1;
}

.fixed {
  flex-grow: 0;
}